.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-image-1 {
  width: 552px;
  height: 466px;
  margin: 32px auto 0 321px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Caesar Dressing";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -156px 222px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Caesar Dressing";
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 110px 467px 0 206px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: "Caesar Dressing";
  font-size: 9.375rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -62px 254px 0 419px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-family: "Caesar Dressing";
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -97px 485px 0 188px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: "Caesar Dressing";
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 6px 474px 0 199px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 94px 310px 0 363px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 88px;
  min-height: 16px;
  width: 88px;
  min-width: 16px;
  margin: 30px auto 60px 553px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 697px;
    margin-top: -162px;
    margin-right: 135px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 402px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 189px;
    margin-left: 284px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 420px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 409px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-6 {
    width: 467px;
    margin-right: 240px;
    margin-left: 234px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
    margin-right: 473px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -63px;
    margin-right: 79px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -102px;
    margin-right: 485px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 455px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 105px;
    margin-right: 126px;
    margin-left: 153px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 456px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 540px;
    margin-top: -152px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 170px;
    margin-right: 395px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -148px;
    margin-right: -17px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -95px;
    margin-right: 407px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -81px;
    margin-right: 377px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 298px;
    margin-right: 26px;
    margin-left: 47px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-image-1 {
    height: 309px;
    width: 296px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -93px;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 140px;
    margin-right: 108px;
    margin-left: -108px;
  }

  .u-section-1 .u-text-3 {
    font-size: 6rem;
    margin-top: -91px;
    margin-right: -45px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -91px;
    margin-right: 219px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 233px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 121px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 23px;
    margin-bottom: 60px;
  }
}